*.pyc
.vscode
.idea
output
remote
build
submodules/diff-gaussian-rasterization/build
submodules/diff-gaussian-rasterization/diff-gaussian-rasterization.egg-info
submodules/simple-knn/build
submodules/simple-knn/simple-knn.egg-info
memo.txt
run1.sh
test1.sh
data/FLAME2020/generic_model.pkl

train.py.bak
test.py.bak

__pycache__/
**/__pycache__/








